*{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main{
    display:flex;
    align-items: center;
    justify-content: center;
}
/* outer-line */
#calculator{
    min-width: 300px;
    min-height: 400px;
   height:70%;
  width:40%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 2px 10px grey;
    
    
}
#title-heading{
    color:grey;
    font-size:2rem;
    text-align:center;
    padding:2px; 
    border-radius:30%; 
    background-image: linear-gradient(red,white,pink,yellow);
}
#display-content{
    height: 100px;
    width: 95%;
    margin-top:-27px;
    margin-left:0.5rem;
    padding:-20px;
    border: 1px solid black;
    
    border-radius:5px;
    box-shadow: -6px 6px 10px grey;
    
}
#display{
     font-size:3rem;
     color:grey;
     font-weight: 500;
     margin-top:20px;
}
.buttons-outer{
    margin:5px;
    height: 60%;
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
    border:1px solid ;
    border-radius: 4px;
    box-shadow: 2px 2px 10px grey;
}
.zero{
    
    
    width:120px !important;
}
#button{
    height: 40px;
    width:50px;
    margin:10px;
    border-bottom: 1px solid black;
    border-radius:5px;
    text-align: center;
    box-shadow: 3px 3px 10px grey;
}
#button span{
    color:green;
    font-size:1.3rem;
    padding:2px;
}
